/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 30, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 34, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 48, ../sass/pages.scss */
#header {
  background: #fe8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(90%, #ffee88), color-stop(100%, #ffff00));
  background-image: -webkit-linear-gradient(#ffffff, #ffee88 90%, #ffff00);
  background-image: -moz-linear-gradient(#ffffff, #ffee88 90%, #ffff00);
  background-image: -o-linear-gradient(#ffffff, #ffee88 90%, #ffff00);
  background-image: linear-gradient(#ffffff, #ffee88 90%, #ffff00);
}

/* line 53, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
}
/* line 58, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 63, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 67, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 73, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 79, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 84, ../sass/pages.scss */
#site-name a span {
  font-family: "Didact Gothic" !important;
  font-size: 1.59em;
  /* color: #FFFF77; */
  font-weight: 400;
}

/* line 90, ../sass/pages.scss */
#site-name a:hover {
  color: #FF9900;
  text-decoration: none;
}

/* line 94, ../sass/pages.scss */
.block-search {
  float: right;
  padding-right: 3em;
  padding-top: 2.2em;
  /* margin-bottom: 2em; */
}

/* line 101, ../sass/pages.scss */
.block-user-menu .block-title {
  display: hidden;
}
/* line 104, ../sass/pages.scss */
.block-user-menu .menu li {
  list-type: none;
}

/* line 108, ../sass/pages.scss */
.branding-data {
  float: left;
}

/* line 111, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  font-family: "Didact Gothic" !important;
  margin: 0;
  font-size: 1em;
}

/* line 117, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  xxx-clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
/* line 138, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 139, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 143, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 156, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 159, ../sass/pages.scss */
h2 > a {
  text-decoration: none !important;
  color: #333 !important;
}

/* line 163, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 167, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 171, ../sass/pages.scss */
article {
  border-bottom: 1px #ccc solid;
  padding-bottom: 3em;
  margin-bottom: 3em;
}

/* line 177, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 180, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 186, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 190, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 195, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 198, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 202, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 206, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 209, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 212, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 215, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 218, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 222, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 228, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 232, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 235, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 240, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 243, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/*
 * Page bottom
 */
/* line 277, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}
